/* Цвета */

$white: #ffffff;
$background-sections: #f8f9fa;
$primary-light: #3a86ff;
$heading-light: #222222;
$text-light: #333333;
$hover-light: #1774ff;
$danger: #e63946;
$hover-danger: #e63946ff;

$background-dark: #191A27;
$primary-dark: #0f1017;
$heading-dark: #E0E0E0;
$text-dark: #A0A0A0;

/* Шрифт */

$font-main: "Roboto", sans-serif;


