/* Переменные */
@use 'variables'; // Переменные (цвета, шрифты и т.д.)

/* Компоненты */
@use 'header';    // Стили шапки
@use 'footer';    // Стили подвала

/* Страницы */
@use 'welcome'; // Стили страницы приветствия
@use 'login';     // Стили страницы авторизации и регистрации

/* Общие стили */


html {
    overflow-y: scroll;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
main {
    flex: 1 0 auto;
    padding: 0 250px;
}
::selection {
    background: variables.$primary-light;
    color: variables.$white;
}
