/* Переменные */
@use 'variables'; // Переменные (цвета, шрифты и т.д.)

/* Компоненты */
@use 'components/header';    // Стили шапки
@use 'components/footer';    // Стили подвала
@use 'components/btnBase';    // Стили кнопки

/* Страницы */
@use 'pages/welcome'; // Стили страницы приветствия
@use 'pages/home'; // Стили для домашней страницы
@use 'pages/login';     // Стили страницы авторизации и регистрации
@use 'pages/newTest'; // Стили для страницы создания теста
@use 'pages/passTest'; // Стили для страницы прохождения теста
@use 'pages/lk'; // Страница личного кабинета

/* Общие стили */
html, body {
    height: 100%;
}

body {
    font-family: variables.$font-main !important;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 0 250px;
}

::selection {
    background: variables.$primary-light;
    color: variables.$white;
}
