@use 'variables';

.features-container {

    .slogan {
        display: flex;
        justify-content: center;
    }

    .feature-text>p {
        color: variables.$text-light;
        h2 {
            color: variables.$heading-light;
        }
    }

    .row{
        padding: 25px 0;
    }

    .image-container {
        display: flex;
        justify-content: center;
        user-select: none;
    }

    #helper-light {
        width: 325px;
    }

    #growth-light {
        width: 200px;
    }
}
